/*CUSTOM STYLING BY CLASSES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: "roboto", sans-serif;
  line-height: 1.5;
}

body {
  height: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(17, 24, 39)
}


header {
  width: 100%;
  background-color: rgb(41, 72, 109);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title{
  color: rgb(172, 184, 199);
  text-transform: uppercase;
}

.header-nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  color: rgb(172, 184, 199);
}

.nav-link.active {
  color: rgb(96, 165, 250);
  /* font-weight: bold; */
}

main{
  padding: 1rem;
  flex: 1;
  max-width: 1000px;
}

h1 {
  text-align: center;
  color: rgb(96, 165, 250);
}

h1, h2, h3, h4, h5 {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.feed{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: stretch; */
  gap: 1rem;
}

.article-feed {
  color: rgb(172, 184, 199);
  background-color:rgb(31, 41, 55);
  border-radius: 0.2rem;
  padding: 0.5rem; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-feed h3 {
  color: rgb(96, 165, 250);
  font-size: 2rem;
} 

.article-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.article-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-feed p {
  font-size: 1.2rem;
}

.result-image{
  width: 30%;
}

.article-full-view {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  color: rgb(172, 184, 199);
  background-color:rgb(31, 41, 55);
  border-radius: 0.2rem;
  max-width: 900px;
  /* padding: 0.5rem; */
}

.article-full-view h2 {
  color: rgb(96, 165, 250);
  font-size: 2rem;
  
}

.article-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: solid 1px  rgb(96, 165, 250);
}

.article-content {
  position: relative;
  padding: 1rem;
}

.article-logo{
  float: right;
  height: 120px;
  /* margin-left: 1rem; */
}

.article-image {
  float: left; /* Float the image to the left */
  margin-right: 1rem; /* Add some margin on the right and bottom for spacing */
  width: 300px; /* Set a fixed width for the image */
  height: auto; /* Maintain aspect ratio of the image */
}

.article-content p {
  text-align: justify; /* Optional: Justify the text for a cleaner look */
}




/* .article-content {
  display: flex;
  align-items: start;
  padding: 0.5rem;
  font-size: 1rem;
  gap: 1rem;} */

.article-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* background-color:rgb(21, 26, 34); */
  font-size: 1rem;
  color: rgb(96, 165, 250);
  border-top: solid 1px  rgb(96, 165, 250);
}


.form, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
  background-color: rgb(31, 41, 55);
  padding: 1rem;
}

.img-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 2rem;
  max-width: 600px;
  background-color: rgb(31, 41, 55);
  padding: 1rem;
}


.input-field, input {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(41, 72, 109);
  color: rgb(172, 184, 199);
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}

.input-field:focus, input:focus {
  transform: scale(1.05);
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button-group label, label {
  margin-bottom: 0.5rem;
  /* font-weight: bold; */
  color: rgb(96, 165, 250);
  font-family: "Teko", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.option-button {
  width: 130px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;
}

.option-button:hover {
  transform: scale(1.05);
}

.option-button.active {
  transform: scale(1.1);
  border: solid 2px rgb(96, 165, 250);
  border-radius: 0.2rem;
}

.character-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.character-button {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.character-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.submit-button {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(41, 72, 109);
  color: rgb(172, 184, 199);
  font-family: "Teko", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit-button:hover{
  transform: scale(1.05);
  transition: transform 0.5s ease;
  border: solid 2px rgb(96, 165, 250);
  border-radius: 0.2rem;
  cursor: pointer;
}

.submit-image-btn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(41, 72, 109);
  color: rgb(172, 184, 199);
  font-family: "Teko", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit-image-btn:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
  cursor: pointer;
}

.loading-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.loading-icon {
  width: 100px;
  animation: rotate 2s linear infinite; /* Animation properties */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Starting position */
  }
  to {
    transform: rotate(360deg); /* End position */
  }
}


h3, h2 {
  color:rgb(96, 165, 250);
  font-size: 2rem;
}
/* 
.article-image{
  width: 50%;
  height: auto;
} */

.length-buttons{
  display: flex;
  gap: 1rem;
}

.length-buttons button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: rgb(41, 72, 109);
  color: rgb(172, 184, 199);
  font-family: "Teko", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/*-------------------------------------------------
HOMEPAGE
------------------------------------------------*/

.info-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: rgb(172, 184, 199);
  background-color:rgb(31, 41, 55);
  border-radius: 0.5rem;
}


footer{
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: rgb(41, 72, 109);
  color: rgb(172, 184, 199);
}

/* ... (previous styles remain the same) */
/* 
.character-button {
  width: 80px;
  height: 80px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.character-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.character-button.active {
  background-color: #007bff;
  border-color: #0056b3;
}



/* Adjust the button group for character buttons */
/* .button-group:first-of-type {
  justify-content: space-around;
} */ 